{% extends "account/base.html" %}

{% block page_header %}
<header>
    <div>   
        <h1>Sign In</h1>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="sign-in">
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="btn btn-outline-dark" href="{% url 'home' %}">Home</a>
    <button class="btn btn-outline-dark" type="submit">Sign In</button>
    <p>If you have not created an account yet, then please <a href="{% url 'account_signup' %}"> Sign Up</a></p>
  </form>
</div>
{% endblock %}
