{% extends "account/base.html" %}


{% block page_header %}
<header>
    <div>   
        <h1>Sign Out</h1>
    </div>
</header>
{% endblock %}
{% block content %}
<div class="sign-out">
  <div>
    <p>Are you sure you want to sign out?</p>
  </div>
  <div>
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button type="submit" class="btn btn-outline-dark">Sign Out</button>
      <a class="btn btn-outline-dark" href="{% url 'home' %}">Cancel</a>
    
    </form>
  </div>
</div>

{% endblock %}
