{% extends "account/base.html" %}
{% block page_header %}
<header>
    <div>   
        <h1>Sign Up</h1>
    </div>
</header>
{% endblock %}

{% block content %}

<div class="sign-up">
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="mb-3">
      <a class="btn btn-outline-dark" href="{% url 'account_login' %}">Back to Login</a>
      <button class="btn btn-outline-dark" type="submit">Sign Up</button>
    </div>
    <p>Already have an account? Then please <a href="{{ login_url }}">sign in</a></p>
  </form>
</div>
{% endblock %}
