{% extends "account/base.html" %}
{% load static %}

{% block page_header %}
<header>
    <div>   
        <h1>Email Confirmation</h1>
        <div class="subtitle">
            <p>Verify your E-mail Address</p>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="about-us-section">
    <div class="card-container">
        <p>We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.</p>
    </div>
</section>
{% endblock %}