{% extends "base.html" %}
{% load static %}


{% block page_header %}
<header>
    <div>   
        <h1>Comments</h1>
        <div class="subtitle">
            <p>Edit comment</p>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="edit-comment">
        <div>
            <p>Are you sure you want to edit this comment?</p>
            <form method="POST">
                {% csrf_token %}  
                {{ form.text }}
                <div>
                    <button class="btn btn-outline-dark" aria-label="submit" type="submit">Save Changes</button>
                    <a class="btn btn-outline-dark" href="{% url 'product_detail' product_id %}">Go back</a>
                </div>
            </form>
        </div>
</section>
{% endblock %}